:root {
  --button-color: #1fac08;
  --hero-section-color: rgba(4, 176, 84);
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: Arial, sans-serif;
  --font-family: "Gupter", serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 200px;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Hero section */
.hero-section {
  position: relative;
  background-image: url("../../images/New\ mssn\ mosque.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--hero-section-color);
  /* Overlay color */
  z-index: 1;
  opacity: 0.66;
}

.hero-section h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
}

.wrapper {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h1,
h2 {
  text-align: center;
  font-weight: bold;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  color: #1fac08;
}

.btn {
  background-color: var(--button-color);
  border: none;
  padding: 5px;
  font-size: 13px;
  width: 100px;
  color: white;
  transition: none;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: var(--button-color);
}

.pq-lvl {
  font-weight: 600;
}

.faculty-of-art-wrapper,
.faculty-of-science-wrapper {
  margin-bottom: 35px;
}

/* .past-questions,
e-books {
max-width: 900px;
} */

/* Grid containers */
.past-questions-container,
.e-book-container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 30px;
  padding: 5px;
  margin: 0 auto;
  justify-content: center;
}

.past-questions-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.e-book-item {
  background-color: #f0f0f0;
  /* Example background color for items */
  width: 100%;
  height: 160px;
  border: 1px solid #ccc;
  text-align: center;
  background-image: url(/asset/images/images.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.card {
  /* padding: 10px; */
  /* min-width: 300px; */
  /* height: 200px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 7px;
  max-width: 400px;
}

.past-question-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#past-question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#Faculty,
#Department,
#Level {
  width: 300px;
  text-align: center;
  margin-bottom: 15px;
  padding: 10px;
  color: #333;
  border-color: #1fac08;
  border-radius: 7px;
  font-size: 15px;
}

/* Media query for  tablets */
@media (max-width: 768px) {
  .past-questions-container,
  .e-book-container {
    grid-template-columns: 150px 150px;
    justify-items: center;
  }
}

/* Media query for smartphone*/
@media (max-width: 470px) {
  .past-questions-container,
  .e-book-container {
    grid-template-columns: 150px;
    justify-items: center;
  }

  .hero-section > h1 {
    font-size: 2rem;
  }

  .past-questions,
  .e-books {
    font-size: 0.7rem;
  }

  .past-questions-container {
    flex-direction: column;
  }
}
