/* 
    HOMEPAGE START
                    */

/* Start of Index Hero Section */
#index-body #hero-section {
  height: 400px;
  background-image: linear-gradient(
      to top,
      hsla(148, 96%, 35%, 0.56),
      hsla(148, 96%, 35%, 0.58)
    ),
    url(../../images/New\ mssn\ mosque.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#index-body #hero-section > #typed-output {
  color: white;
  font-size: clamp(1rem, 5vw, 1.8rem); /* 1.8rem = 30px */
  text-wrap: nowrap;
  font-weight: bold;
}

/* End of Index Hero Section */

/* Start of Index about Section */
#about-us-section .row > div:nth-child(1) {
  border: 4px solid #009e71;
}
/* End of Index about Section */

/* Start of MSSN Leaders & EXCOS Section */
#our-excos-section > .container > .row > div {
  padding: 0px;
  position: relative;
}
#our-excos-section > .container > .row > div:hover {
  cursor: pointer;
}
#our-excos-section > .container > .row > div:hover .img-fluid {
  box-shadow: 0px 0px 2px black;
  transform: scale(1.02);
}
#our-excos-section > .container > .row > div .img-fluid {
  border-radius: 20px;
}
#our-excos-section > .container > .row > div > .overlay-wrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
#our-excos-section > .container .overlay-wrapper > .img-overlay {
  background-color: #f4f4f4;
  padding: 8px 15px;
  margin-bottom: -30px;
  border-radius: 10px;
  width: clamp(50%, 80%, 70%);
}
#our-excos-section .img-overlay > p:nth-child(1) {
  font-size: clamp(11px, 1.9vw, 14px);
  text-align: center;
  margin: 0;
  word-wrap: break-word;
  border-bottom: 2px solid rgba(0, 0, 0, 0.582);
}
#our-excos-section .img-overlay > p:nth-child(2) {
  margin: 0;
  font-size: 13px;
  text-align: center;
}
#index-body .btn {
  background-color: #04b054;
  color: white;
  font-weight: bold;
}
#index-body .btn:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #04b054;
  font-weight: bold;
}
#index-body .details-btn {
  background-color: transparent;
  color: black;
  border: 1px solid #04b054;
  font-weight: bold;
  position: relative;
}
#index-body .details-btn::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  background-color: #04b054;
  width: 0%;
  height: 100%;
  transition: ease-in 0.2s;
}
#index-body .details-btn:hover {
  color: white;
}
#index-body .details-btn:hover::before {
  width: 100%;
}
.text-justify {
  text-align: justify;
}
/* End of Index Hero Section */

/* Start of Faqs Section */
#faqs-section {
  background-color: #f4f4f4;
  padding: 50px 0;
}
#faqs-section > .container > h2 {
  /* color: #04b054; */
  font-weight: bold;
}
#faqs-section > .container > .accordion .accordion-button {
  box-shadow: none;
}
#faqs-section > .container button > i {
  color: #04b054;
}
/* #faqs-section .accordion-header:focus {
  z-index: -99 !important;
} */
/* End of Faqs Section */

/* 
    HOMEPAGE END    
                  */
